
.vs/WorkTrack/FileContentIndex/09af7e9d-a880-4e00-b614-0269e6c08b14.vsidx
.vs/WorkTrack/FileContentIndex/59b685f0-c06a-4c8c-bfdf-35b075ae5627.vsidx
.vs/WorkTrack/FileContentIndex/7875322f-f3b7-4db6-90fc-782a764801ea.vsidx
.vs/WorkTrack/FileContentIndex/e08381d9-2dea-4af9-8bb7-ba3dd836404a.vsidx
.vs/WorkTrack/FileContentIndex/e8366362-19ba-4657-b35a-d0b6e93826b3.vsidx
.vs/ProjectEvaluation/worktrack.metadata.v8.bin
.vs/ProjectEvaluation/worktrack.projects.v8.bin
.vs/ProjectEvaluation/worktrack.strings.v8.bin
.vs/WorkTrack/DesignTimeBuild/.dtbcache.v2
.vs/WorkTrack/FileContentIndex/551aeb77-792c-4159-a3cb-0305012d185c.vsidx
.vs/WorkTrack/FileContentIndex/57700fc0-41e8-4738-951e-0705c700a5cb.vsidx
.vs/WorkTrack/FileContentIndex/a15d8660-2752-412e-8d2b-3a6b10436c52.vsidx
.vs/WorkTrack/FileContentIndex/aa0e9d1a-79eb-4c95-baea-b276a51535f0.vsidx
.vs/WorkTrack/FileContentIndex/cce38e32-c1b4-4c1a-95d6-80cc08811fc3.vsidx
.vs/WorkTrack/v17/.futdcache.v2
.vs/WorkTrack/v17/.suo
.vs/WorkTrack/v17/DocumentLayout.json
